absl_py==1.4.0
addict==2.4.0
chamferdist==1.0.3
chex==0.1.86
click==8.1.7
cuml==0.6.1.post1
cupy_cuda12x==13.3.0
dm_haiku==0.0.13.dev0
dm_tree==0.1.8
einops==0.8.1
einshape==1.0
evo==1.33.0
ffmpeg==1.4
fiftyone==1.9.0
GitPython==3.1.37
GitPython==3.1.45
gradio==5.49.1
gsplat==1.5.3
h5py==3.9.0
huggingface_hub==0.30.1
hydra-core==1.3.2
imageio==2.31.5
ipdb==0.13.9
jax==0.4.26
jaxline==0.0.8
jaxtyping==0.3.3
KNN==1.0.0
kubric==0.1.1
loguru==0.7.3
matplotlib==3.8.0
mediapy==1.2.4
ml_collections==0.1.1
moderngl==5.12.0
nerfstudio==1.1.5
nerfview==0.1.3
omegaconf==2.3.0
open3d==0.17.0
opencv-python==4.12.0.88
optax==0.2.6
packaging==25.0
pandas==2.3.3
Pillow==9.4.0
Pillow==12.0.0
pillow_heif==1.1.1
piqp==0.6.2
plotly==5.17.0
plyfile==1.1.3
projectaria_tools==2.0.0
psutil==5.9.5
pycocotools==2.0.7
pycolmap==3.12.6
pytorch3d==0.7.4
pytorch_msssim==1.0.0
PyYAML==6.0.1
PyYAML==6.0.3
quaternion==3.5.2.post4
raft==1.6
Requests==2.32.5
rich==14.2.0
roma==1.5.4
scikit_learn==1.3.1
scipy==1.16.2
segment_anything==1.0
setuptools==68.0.0
skimage==0.0
splines==0.3.3
supervision==0.6.0
tables==3.10.2
tensorflow==2.9.3
tensorflow_datasets==4.8.3
termcolor==3.1.0
tfds_nightly==4.8.3.dev202303280045
timm==0.9.12
torch_scatter==2.1.2
torchmetrics==0.6.0
torchvision==0.20.0
tqdm==4.66.1
transformers==4.51.0.dev0
trimesh==4.5.3
typer==0.20.0
typing_extensions==4.15.0
tyro==0.9.35
viser==1.0.15
visu3d==1.5.3
yapf==0.40.2
